# Lista de gastos



La lista que voy a crear a continuación es una forma manual de cargar datos escritos a mano. <br />
Además de cargar los datos y representarlos en un DataFrame de Pandas, voy a obtener representaciones visuales. <br />
Por último voy a desplegar esta notebook con el framework Mercury para disponibilizarlo en la web.

# 1) CARGAR Y EXPORTAR DATOS

In [2]:
CARGAR_DATOS = False
DESCARGAR_PICKLE = True

In [3]:
# CELDA INGRESOS

"""
AUTOMATIZAR:
    - Fecha
    - Categoria
    - Monto en función de categoria
    - Cuenta en función de categoria
    - tipo de cuenta en funcion de cuenta
    - Tipo de moneda en función de cuenta
    - Descripción y comentarios pueden ser inputs
"""

import os
import pandas as pd
import datetime as dt
import re

path = os.getcwd() + "\data\\"
os.makedirs(path, exist_ok=True)

# Informacion del momento de registro
now = dt.datetime.now()
year = now.year
date = lambda: now.strftime("%d/%m/%Y")
time = lambda: now.strftime("%H:%M")

if CARGAR_DATOS:
    variables = [
        "Fecha",# 5/01 ~ 5/10 SALARIO | 15/1 ~ 15/10 ALQUILER | 20/03 Venta moto ARS | 5/05 BONO ARS | 25/08 Libero Staking DEX
        "Descripcion",
        "Monto",
        "Tipo de ingreso",#ACTIVO, SEMI-PASIVO, PASIVO, ATIPICO
        "Comentarios",
        "Cuenta",#nombre
        "Tipo de cuenta", #categoria - bancaria, externa, ahorro, presupuesto
        "Tipo de moneda", # nombre de la divisa
    ]
    N = len(variables)

    origin_row = list()
    for i in range(N):
        origin_row.append([])


    def cargar_datos():
        """Devuelve una lista de listas, cada lista esta una variable"""
        global origin_row, variables
        while True:
            i = iter(range(N))
            ii = iter(range(N))
            try:
                while True:
                    # Añadir Dato
                    origin_row[next(i)].append(input(f"{variables[next(ii)]}: "))
            except:
                pass
            if not input('Presione "Enter" para salir'):
                return origin_row


    dict_base = dict()
    columns_row = cargar_datos()
    for i, lista in enumerate(columns_row):
        if i == 0:
            for ii, elemento in enumerate(lista):
                lista[ii] = elemento + f"/{year}"
            dict_base[variables[i]] = lista
        dict_base[variables[i]] = lista

    # Descarga de datos en formato csv
    file_name = 'ingresos_' + date().replace("/", "-")+'_'+time().replace(":", "-")
    pd.DataFrame(dict_base).to_csv(os.getcwd() + "\data\\" + file_name + '.csv')

In [4]:
# CELDA EGRESOS
import os
import pandas as pd
import datetime as dt
import re

path = os.getcwd() + "\data\\"
os.makedirs(path, exist_ok=True)

# Informacion del momento de registro
now = dt.datetime.now()
year = now.year
date = lambda: now.strftime("%d/%m/%Y")
time = lambda: now.strftime("%H:%M")

if CARGAR_DATOS:
    variables = [
        "Fecha",
        "Descripcion",
        "Monto",
        "Categoria",
        "Comentarios",
        "Cuenta",#nombre
        "Tipo de pago",#financiado, efectivo, débito, transferencia
        "Tipo de cuenta", #categoria - bancaria, externa, ahorro, presupuesto
        "Tipo de moneda", # nombre de la divisa
    ]
    N = len(variables)

    origin_row = list()
    for i in range(N):
        origin_row.append([])


    def cargar_datos():
        """Devuelve una lista de listas, cada lista esta una variable"""
        global origin_row, variables
        while True:
            i = iter(range(N))
            ii = iter(range(N))
            try:
                while True:
                    # Añadir Dato
                    origin_row[next(i)].append(input(f"{variables[next(ii)]}: "))
            except:
                pass
            if not input('Presione "Enter" para salir'):
                return origin_row


    dict_base = dict()
    columns_row = cargar_datos()
    for i, lista in enumerate(columns_row):
        if i == 0:
            for ii, elemento in enumerate(lista):
                lista[ii] = elemento + f"/{year}"
            dict_base[variables[i]] = lista
        dict_base[variables[i]] = lista

    # Descarga de datos en formato csv
    file_name = 'egresos_' + date().replace("/", "-")+'_'+time().replace(":", "-")
    pd.DataFrame(dict_base).to_csv(os.getcwd() + "\data\\" + file_name + '.csv')

In [5]:
# CELDA CUENTAS

import os
import pandas as pd
import datetime as dt
import re

path = os.getcwd() + "\data\\"
os.makedirs(path, exist_ok=True)

# Informacion del momento de registro
now = dt.datetime.now()
year = now.year
date = lambda: now.strftime("%d/%m/%Y")
time = lambda: now.strftime("%H:%M")

if CARGAR_DATOS:
    variables = [
        "Fecha",
        "Banco/Entidad",# Galicia, Binance
        "Nombre cuenta",#nombre CORRIENTE, INGRESOS, Binance, Ahorro, Inversión
        "Tipo de cuenta", #categoria - bancaria, externa, METÁLICO
        "Tipo de moneda", # nombre de la divisa
        "es INGRESO?",
        "es AHORRO?",
        "es PRESUPUESTO?",
        "es INVERSION?",
        "es N3?",
        "es TRADING?",
        "es EGRESO?",
        "Datos de la cuenta",
        "Comentarios",
    ]


    N = len(variables)

    origin_row = list()
    for i in range(N):
        origin_row.append([])


    def cargar_datos():
        """Devuelve una lista de listas, cada lista esta una variable"""
        global origin_row, variables
        while True:
            i = iter(range(N))
            ii = iter(range(N))
            try:
                while True:
                    # Añadir Dato
                    origin_row[next(i)].append(input(f"{variables[next(ii)]}: "))
            except:
                pass
            if not input('Presione "Enter" para salir'):
                return origin_row


    dict_base = dict()
    columns_row = cargar_datos()
    for i, lista in enumerate(columns_row):
        if i == 0:
            for ii, elemento in enumerate(lista):
                lista[ii] = elemento + f"/{year}"
            dict_base[variables[i]] = lista
        dict_base[variables[i]] = lista

    # Descarga de datos en formato csv
    file_name = 'cuentas_' + date().replace("/", "-")+'_'+time().replace(":", "-")
    pd.DataFrame(dict_base).to_csv(os.getcwd() + "\data\\" + file_name + '.csv')

In [6]:
# CELDA TRANSFERENCIAS
import os
import pandas as pd
import datetime as dt
import re

path = os.getcwd() + "\data\\"
os.makedirs(path, exist_ok=True)

# Informacion del momento de registro
now = dt.datetime.now()
year = now.year
date = lambda: now.strftime("%d/%m/%Y")
time = lambda: now.strftime("%H:%M")

if CARGAR_DATOS:
    variables = [
        "Fecha",# 5/01/2022 ~ 5/10/2022
        "Monto",
        "Proviene de cuenta", #nombre Binance P2P, Binance P2P, INGRESOS
        "Cuenta inversion",# nombre INVERSION
        "Tipo de cuenta", #categoria - bancaria, externa, ahorro, presupuesto
        "Tipo de moneda",# nombre de la divisa
        "Comentarios",# de donde proviene los ingresos? que pienso hacer con el dinero?
    ]
    N = len(variables)

    origin_row = list()
    for i in range(N):
        origin_row.append([])


    def cargar_datos():
        """Devuelve una lista de listas, cada lista esta una variable"""
        global origin_row, variables
        while True:
            i = iter(range(N))
            ii = iter(range(N))
            try:
                while True:
                    # Añadir Dato
                    origin_row[next(i)].append(input(f"{variables[next(ii)]}: "))
            except:
                pass
            if not input('Presione "Enter" para salir'):
                return origin_row


    dict_base = dict()
    columns_row = cargar_datos()
    for i, lista in enumerate(columns_row):
        if i == 0:
            for ii, elemento in enumerate(lista):
                lista[ii] = elemento + f"/{year}"
            dict_base[variables[i]] = lista
        dict_base[variables[i]] = lista

    # Descarga de datos en formato csv
    file_name = 'transferencias_' + date().replace("/", "-")+'_'+time().replace(":", "-")
    pd.DataFrame(dict_base).to_csv(os.getcwd() + "\data\\" + file_name + '.csv')

In [7]:
# CELDA AHORRO 
import os
import pandas as pd
import datetime as dt
import re

path = os.getcwd() + "\data\\"
os.makedirs(path, exist_ok=True)

# Informacion del momento de registro
now = dt.datetime.now()
year = now.year
date = lambda: now.strftime("%d/%m/%Y")
time = lambda: now.strftime("%H:%M")

if CARGAR_DATOS:
    variables = [
        "Fecha",# 5/01/2022 ~ 5/10/2022
        "Monto",
        "Proviene de cuenta", #nombre CORRIENTE, INGRESOS, Binance P2P, Binance
        "Cuenta ahorro",# nombre AHORRO, Binance Earn, Ledger
        "Tipo de cuenta", #categoria - bancaria, externa, ahorro, presupuesto
        "Tipo de moneda", # nombre de la divisa
    ]
    N = len(variables)

    origin_row = list()
    for i in range(N):
        origin_row.append([])


    def cargar_datos():
        """Devuelve una lista de listas, cada lista esta una variable"""
        global origin_row, variables
        while True:
            i = iter(range(N))
            ii = iter(range(N))
            try:
                while True:
                    # Añadir Dato
                    origin_row[next(i)].append(input(f"{variables[next(ii)]}: "))
            except:
                pass
            if not input('Presione "Enter" para salir'):
                return origin_row


    dict_base = dict()
    columns_row = cargar_datos()
    for i, lista in enumerate(columns_row):
        if i == 0:
            for ii, elemento in enumerate(lista):
                lista[ii] = elemento + f"/{year}"
            dict_base[variables[i]] = lista
        dict_base[variables[i]] = lista

    # Descarga de datos en formato csv
    file_name = 'ahorro_' + date().replace("/", "-")+'_'+time().replace(":", "-")
    pd.DataFrame(dict_base).to_csv(os.getcwd() + "\data\\" + file_name + '.csv')

# 2) LEER LOS DATOS ACONDICIONADOS Y PREPARARLOS

In [29]:
# ELIMINACION DE ERRORES Y DESCARGA DE OBJETOS PICKLE
file_names = os.listdir(path=os.getcwd() + "\data\\")


frame = pd.DataFrame()
for file in file_names:
    if file.endswith(".csv"):
        frame = pd.concat([frame, pd.read_csv(os.getcwd() + "\data\\" + file)])


frame.drop(columns=frame.columns[0], inplace=True)
frame.reset_index(drop=True, inplace=True)

patron="(error)"
regex = re.compile(patron)
match_id = []
for col_name in frame.columns:
    regex_search = frame[col_name].apply(lambda x: regex.search(str(x)))
    match_id.append(regex_search.dropna().apply(lambda x: x.group(0)).index)

all_matches = []
for variable in match_id:
    if len(variable) == 0:
        continue
    for match in variable:
        all_matches.append(match)

all_matches = list(set(all_matches))

frame.drop(all_matches, inplace=True)
frame.reset_index(drop=True, inplace=True)

if DESCARGAR_PICKLE:
    name = input('Nombre del archivo:')
    frame.to_pickle(os.getcwd() + "\data\\" + f"{name}.pkl")

frame

,Fecha,Monto,Proviene de cuenta,Cuenta ahorro,Tipo de cuenta,Tipo de moneda
0,5/01/2022,60.000,Binance,Ledger,externa,USDT
1,6/02/2022,18500.000,CORRIENTE,AHORRO,bancaria,ARS
2,5/03/2022,0.004,Binance,Ledger,externa,BTC
3,5/04/2022,30.000,Binance,Ledger,externa,USDT
4,5/04/2022,10000.000,CORRIENTE,AHORRO,bancaria,ARS
5,5/05/2022,20000.000,INGRESOS,AHORRO,bancaria,ARS
6,5/06/2022,20850.000,INGRESOS,AHORRO,bancaria,ARS
7,5/07/2022,21300.000,CORRIENTE,AHORRO,bancaria,ARS
8,5/08/2022,0.002,Binance,Ledger,externa,BTC
9,5/08/2022,30.000,Binance,Ledger,externa,USDT
10,5/09/2022,15000.000,Binance P2P,AHORRO,bancaria,ARS
11,5/10/2022,25.000,Binance,Ledger,externa,USDT
12,6/10/2022,800.000,METALICO[ARS],METALICO[USD],metálico,USD

 # 3) RESEARCH AND REPORT

In [9]:
from type_adjust import typeAdjuster
# https://towardsdev.com/how-to-use-plotly-as-pandas-plotting-backend-123ff5378003
pd.options.plotting.backend = "plotly"
data = typeAdjuster(frame)

ModuleNotFoundError: No module named 'type_adjust'

In [ ]:
data.groupby('Categoria')['Monto'].sum().plot(kind='bar', height=800)

KeyError: 'Categoria'

In [ ]:
from itertools import count
x = count()
next(x)
for category in data.Categoria.unique():
    print (f"{next(x)}) Gastos de la categoria {category}")
    check = data[data.Categoria == category]
    display (check)
    print (f"gastos totales = {check.Monto.sum()}")
    print ("-"*50)
    print()

print(f"Monto total del mes = ${data.Monto.sum()}")

1) Gastos de la categoria lifestyle

           Fecha             Descripcion  Monto  Categoria
index
0     2022-09-09         Heladeria Grido   1700  lifestyle
8     2022-11-09               panaderia    900  lifestyle
10    2022-12-09      Pollo "La Familia"   1900  lifestyle
12    2022-12-09  Bebidas vino - cerveza   1250  lifestyle
22    2022-09-16                 Cordiez   1100  lifestyle
23    2022-09-16           Despensa Moni    900  lifestyle
33    2022-09-22                   birra    600  lifestyle

gastos totales = 8350
--------------------------------------------------

2) Gastos de la categoria casa

           Fecha                              Descripcion  Monto Categoria
index
1     2022-09-09                 Veterinaria comida India   4500      casa
4     2022-10-09                                 Farmacia    600      casa
11    2022-12-09                                 Farmacia    600      casa
15    2022-09-13                                 Farmacia   6000      casa
19    2022-09-16  jabón liquido. quita mancha y lavandina   3300      casa
40    2022-09-29                             Comida Kenya   1570      casa

gastos totales = 16570
--------------------------------------------------

3) Gastos de la categoria almacen

           Fecha               Descripcion  Monto Categoria
index
2     2022-10-09          Super "La Cruz"    1760   almacen
7     2022-11-09                 panaderia    630   almacen
16    2022-09-14  Despensa - jamon y queso   1950   almacen
20    2022-09-16            leche en polvo   1100   almacen
21    2022-09-16             Despensa Moni   1300   almacen
26    2022-09-17                   Almacen   4000   almacen
27    2022-09-17                      Miel   1500   almacen
28    2022-09-17                      coco    600   almacen
30    2022-09-19                       pan    400   almacen
32    2022-09-22                   Almacen   1500   almacen
35    2022-09-26                    Quesos   5000   almacen
36    2022-09-26                     dulce    650   almacen
43    2022-04-10                  despensa   1000   almacen
44    2022-06-10                   Cordiez   8000   almacen

gastos totales = 29390
--------------------------------------------------

4) Gastos de la categoria fresco

           Fecha        Descripcion  Monto Categoria
index
3     2022-10-09  carniceria "Rufo"   1760    fresco
6     2022-11-09         Carniceria   2500    fresco
18    2022-09-15   carne y verduras   2595    fresco
25    2022-09-17         Carniceria   2120    fresco
29    2022-09-19    carne y verdura   2800    fresco
31    2022-09-22         Carniceria   3000    fresco
37    2022-09-26         verduleria   1600    fresco
38    2022-09-26            limones    130    fresco
41    2022-09-30   carne y verduras   5680    fresco
42    2022-01-10           verduras   1400    fresco

gastos totales = 23585
--------------------------------------------------

5) Gastos de la categoria gastos fijos

           Fecha       Descripcion  Monto     Categoria
index
5     2022-10-09        Luz y Agua   4000  gastos fijos
13    2022-12-09  Internet y cable   4600  gastos fijos
17    2022-09-15          Alquiler  45000  gastos fijos
24    2022-09-16          Nafta 6L   1100  gastos fijos
34    2022-09-22               Gas   4800  gastos fijos
45    2022-07-10  Internet y cable   5100  gastos fijos

gastos totales = 64600
--------------------------------------------------

6) Gastos de la categoria gastos extras

           Fecha          Descripcion  Monto      Categoria
index
9     2022-11-09       Comision Vicky   6700  gastos extras
14    2022-09-13  Deuda Municipalidad   3300  gastos extras

gastos totales = 10000
--------------------------------------------------

7) Gastos de la categoria A

           Fecha Descripcion  Monto Categoria
index
39    2022-09-29           A   1740         A

gastos totales = 1740
--------------------------------------------------

Monto total del mes = $154235